<h1>Editing Book</h1>
<%= form_with model: @user do |f| %>
  <div>
      <%= f.label :name %>
      <%= f.text_field :title, autofocus: true, placeholder:"名前" %>
  </div>
  
  <div>
      <%= f.label :image %>
      <%= f.file_field :profile_image, placeholder:"ファイルを選択" ,accept: "image/*" %>
  </div>
  
  <div>
      <%= f.label :introduction %>
      <%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介" %>
  </div>
  <div>
        <%= f.submit "Update User" %>
  </div>
<% end %>