<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/userinfo', user: @user, book: @book %>


<h1>Books</h1>
<table>
  <thead>
     <tr>
       <th>Title</th>
       <th>Opinion</th>
     </tr>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= image_tag @user.get_profile_image(100,100) %>
      </td>
      <td>
        <%= link_to book_path(book.id) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
