<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/userinfo', user: @user, book: @book_new %>

<h1>Book detail</h1>
<table>
  <tr>
    <td>
        <%= image_tag @user.get_profile_image(100,100) %><br>
        <%= link_to user_path(@user.id) do %>
          <%= @user.name %>
        <% end %>
    </td>
    <td>
      <%= link_to book_path do %>
        <%= @book.title %>
      <% end %>
    </td>
    <td>
      <%= @book.body %>
    </td>
    <% if @book.user == current_user %>
    <td>
      <%= link_to "Edit" ,edit_book_path(@book) %>
    </td>
    <td>
      <%= link_to "Destroy" ,book_path(@book),  method: :delete %>
    </td>
    <% end %>
  </tr>
</table>